/* changing for parallax */
body, html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
/* parralax scroll image for home header */
.parallax {
  background-image: url('../images/header.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* adding margin for parallax */
.navbar {
  border-radius: 0px;
  margin-bottom: -20px;
}
/* container for home area */
#homeContainer {
  margin-top: 17vh
}
/* home container tags */
#homeContainerHeader, #homeContainerInfo {
  text-align: center;
  color: black;
}
/* welcome scroll button*/
#purpleButton {
  color: white;
  background-color: purple; /* backup color*/
  background-color: #5C00D1;
  border-radius: 0px;
  margin-top: 30px;
}
.btnContainer {
  text-align: center;
}
/* welcome scroll button on hover etc... */
#purpleButton:hover {
  color: white;
  background-color: purple; /* backup color */
  background-color: #320072;
}